@font-face {
  font-family: Lato; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Lato-Black; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Black.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Lato-Light; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Light.ttf); /* Путь к файлу со шрифтом */
 }
html, body {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
/*Common styles*/
.wrapper {
  width: 1020px;
  margin: 0 auto;
  display: flex;
}
/*Common styles*/

/*Header start*/

.header {
  width: 100%;
  height: 89px;
  background-color: #2d303a;
  border-bottom: 6px solid #323746;
}
.logo {
  margin: 28px 0 0 32px;
  display: inline-block;
}
.logo__heading {
  display:inline-block;
  font-family: "Lato", Arial, sans-serif;
  font-weight: 600;
  font-stretch: ultra-condensed;
  font-size: 25px;
  letter-spacing: -0.5px;
  text-transform: uppercase;
}
.logo__heading__marked {
  margin-left: -9px;
  color: #f06c64;
}
.logo__anchor {
  color: #ffffff;
  text-decoration: none;
}
.nav {
  margin-left: auto;
}
.nav__list {
  color:#ffffff;
  margin: 42px 47px 0 0;
  list-style: none;
}

.nav__list__item {
  float: left;
  text-transform: uppercase;
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  font-weight: bolder;
}
.nav__list__item:not(:first-child):before {
  content: "\00b7";
  color: #494e62;
  display: inline-block; 
  width: 1em;
  margin-left: -1.3em;
}
.nav__list__item:hover,
.nav__list__item .active {
  color: #f06c64;
  cursor: pointer;
}
.nav__list__item:not(:last-child) { 
  margin-right: 33px;
}

/*Header end*/

/*Hero start*/
.hero {
  height: 594px;
  background-color: #f06c64;
  border-bottom: 6px solid #ea676b;
}
.hero>.wrapper {
  position: relative;
}
.hero__image {
  position: absolute;
}
.phone__default {
    left: 105px;
    top: 53px;
}
.phone__inverse {
  right: 120px;
  top: 174px;
}
/*Hero end*/

/*Services start*/
.services {
  height: 495px;
  background-color: #f2f2f2;
  border-bottom: 6px solid #ffffff;
}
.services .wrapper {
  display: block;
}
.services__heading {
  padding: 59px 12px 0 32px;
  font-size: 30px;
  color: #666d89;
  font-family: "Lato-Black", Arial, sans-serif;
}
.services__subtitle {
  font-size: 18px;
  color: #767e9e;
  font-family: "Lato-Light", Arial, sans-serif;
  padding: 18px 0 0 33px;
  line-height: 1.7em;
  word-spacing: -0.2872px;
}
.services__block {
  width: 975px;
  margin: 0 auto 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 

}
.services__block__article {
  width: 300px;
  min-height: 50px;
  margin: 45px 10px 0;
  display: flex;
}
.bottom_row {
  margin-top: 32px;
}
.services__block__image {
  margin-top: 2px;
}
.services__article__text {
  margin-left: 21px;
}
.services__article__subheader {
  font-family: "Lato-Black", Arial, sans-serif;
  font-size: 18px;
  margin: -2px 0 0 0;
  color: #666d89;
  letter-spacing: 0.1px;
}
.wide_letters {
  letter-spacing: 0.2px;
}
.services__article__paragraph {
  font-family: "Lato", Arial, sans-serif;
  font-size: 12px;
  color: #767e9e;
  line-height: 1.83em;
  margin: 8px 0 0 0;
  letter-spacing: 0;
  font-stretch: extra-expanded;
}
/*Services end*/