@font-face {
  font-family: Lato; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Regular.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Lato-Black; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Black.ttf); /* Путь к файлу со шрифтом */
 }
 @font-face {
  font-family: Lato-Light; /* Имя шрифта */
  src: url(./assets/fonts/lato/Lato-Light.ttf); /* Путь к файлу со шрифтом */
 }
html, body {
  font-size: 10px;
}
* {
  margin: 0;
  padding: 0;
}
/*Common styles*/
.wrapper {
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  padding: 0 40px 0;
}
/*Common styles*/

/*Portfolio styles*/
.portfolio {
  background-color: #2d303a;
  height: 804px;
  border-bottom: 6px solid #323746;
  padding-top: 60px;
}
.portfolio>.wrapper {
  display: block;
}
.portfolio__title {
  font-family: "Lato-Black", Arial, sans-serif;
  font-size: 30px;
  color: #666d89;
  letter-spacing: 0.1px;
}
.portfolio__subtitle {
  margin-top: 22px;
  margin-left: -2px;
  font-family: "Lato-Light", Arial, sans-serif;
  font-size: 18px;
  color: #767e9e;
  word-spacing: -1.3px;
}
.group_buttons {
  margin: 15px 0 8px 0;
}
.group_buttons .selected {
  color: #ffffff;
  border: 1px solid #ffffff;
}
.portfolio__group_buttons__button {
  background-color: transparent;
  color: #767e9e;
  font-size: 12px;
  font-family: "Lato", Arial, sans-serif;
  border: 1px solid #767e9e;
  border-radius: 5px;
  padding: 3px 6px;
  margin-right: 8px;
  outline: none;
}
.portfolio__group_buttons__button:last-child {
  margin-left: -2px;
}
.portfolio__work_list {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap; 
}
.portfolio__work_list_item {
  padding: 10px;
}
.portfolio__work_list .first {
  padding-left: 0px;
  margin: 0 0 0 -2px;
}
.portfolio__work_list .last {
  padding-right: 0px;
}
/*Portfolio styles*/

/*About us styles*/
.about {
  height: 728px;
  border-bottom:6px solid #ffffff ;
  background-color: #f2f2f2;
}
.about .wrapper {
  display: block;
}
.about__title {
  font-family: "Lato-Black", Arial, sans-serif;
  font-size: 30px;
  color: #666d89;
  padding-top: 59px;
  letter-spacing: -0.3px;
}
.about__subtitle {
  margin-top: 20px;
  margin-left: -2px;
  font-family: "Lato-Light", Arial, sans-serif;
  font-size: 18px;
  color: #767e9e;
  word-spacing: -0.3px;
  line-height: 1.6em;
}
/*About us styles*/